@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

input, 
button,
select {
    display: block;
    padding: 0.25rem;
    font-size: 1rem;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: $dark-grey;
    color: white;
}

.container {
    padding-inline: 1rem;
}